body {
  color: #666;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
}

@include selection {
  color: #fff;
  background: #000;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active, &:focus, &:hover {
    color: shade($action-color, 25%);
  }
}

img, picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: 300;
  margin: 0 0 1.1em;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }
p { font-size: 0.9em; }

.container {
  @include outer-container;
  position: relative;
}

.row { @include row(); }

.page-section {
  padding: 30px 15px;

  @include media($tablet) { padding: 50px 30px; }
  @include media($desktop) { padding: 100px 30px; }
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.about {
  @include span-columns(12);
}
