.contactinfo {
  text-align: center;
  font-size: 1.25em;
  margin-top: 40px;

  ul {
    padding: 0;

    @include media($tablet) { display: inline-block; }

    li {
      list-style: none;
      display: inline-block;
      margin: 0 10px;

      .fa { margin-right: 5px; }
      a { color: #666; }
    }
  }
}

.cards {
  text-align: center;

  .fa { margin-right: 5px; }
}
