.portfolio-sizer {
  @include span-columns(12);

  @include media($tablet) { @include span-columns(4); }

  &:nth-child(3n+1) { margin-right: 0; }
}

.portfolio-item {
  position: relative;
  @include size(100% 250px);
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  background: #fafafa;

  .clickable {
    .item-info {
      @include position(absolute, 50% null null 50%);
      @include size(150px);
      @include margin(-75px null null -75px);
      border-radius: 50%;
      @include transition(all 0.3s ease-in-out);
      @include transform(scale3d(1, 1, 1));
      display: table;

      &.gray { background-color: $gray; }
      &.teal { background-color: $teal; }
      &.pink { background-color: $pink; }
      &.purple { background-color: $purple; }

      h2 {
        color: #fff;
        font-size: 1.125em;
        font-weight: 400;
        padding: 0 10px;
        display: table-cell;
        vertical-align: middle;
        margin: 0;
      }
    }

    &:hover .item-info { @include transform(scale3d(1.1, 1.1, 1)); }
  }
}
